.myProfileWrapper {
    max-width: 1200px;

    .informationContent__container {
        width: 100%;

        .items__profilesSidebar {
            border-radius: 10px;
            position: sticky;
            position: -webkit-sticky;
            top: 8em;
            width: 300px;

            .profile__account {

                figure {

                    .avatar__profiles {
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        object-fit: cover;
                        max-width: 130px !important;
                        max-height: 120px !important;
                        background-repeat: no-repeat;
                        border-radius: 100%;
                        clip-path: circle();
                        filter: drop-shadow(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
                    }
                }

                .profile__sideInfo {
                    max-width: 200px;
                    // width: fit-content;
                    min-width: 0;

                    .profile__sideName {
                        h2 {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                        }
                    }
                }
            }

        }

    }

    .information__profileheader {
        background-color: #0c663d;
        color: #fff;

        .iconToogle {
            background-color: rgb(29, 9, 102);
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: rgb(44, 11, 167);
            }
        }

    }

    // .information__profiles {
    //     background-color: #ffffff;
    // }

    .information__profileError {
        background-color: #660c14;

        .iconToogle {
            background-color: #E4E0DD;
            color: #000000;
        }
    }

    .information__pictureError {
        background-color: #660c14;

        .iconToogle {
            background-color: #E4E0DD;
            color: #000000;
        }
    }

    .deleteContent__info {
        background-color: #162f89;

        &:hover {
            background-color: #1c55f2;
        }
    }
}

.myProfileWrapper .active {
    background-color: rgb(127 140 159 / 0.2);
    color: #000000;
}

// .myProfileWrapper {
//     .profilesContent__item {
//         .fontChanges__default {
//             h2 {

//                 color: #707070;
//             }
//         }
//     }
// }

.profile__settingContainer {
    .profile__settingWrapper {

        input[type="text"] {
            padding-left: 1em;
        }

        input[type="file"]::file-selector-button {
            background-color: #162f89;
            transition: .3s ease-in-out;

            &:hover {
                background-color: #1c55f2;
            }
        }

        input[type="number"] {
            padding-left: 3.4em;
            overflow: hidden;

            &:focus {
                outline: none;
                overflow: hidden;
            }
        }

        input[type="password"] {
            padding-left: 1em;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .profile__saveButton {
            .profile__saveCall {
                background-color: #162f89;
                transition: .3s ease-in-out;

                &:hover {
                    background-color: #1c55f2;
                }
            }
        }
    }

    .error__notificationValue {
        color: #992F1E;
        font-weight: 400;
    }

}

// .profileEdit__recommendation .listName::before {
//     content: "";
//     background-color: rgb(110, 110, 110);
//     height: 6px;
//     width: 6px;
//     border-radius: 50%;
//     position: absolute;
//     left: 0;
//     bottom: calc(50% - 5px);
//     align-content: center;
//     justify-items: center;
//     display: block;
//     overflow: hidden;
// }

.dataWrapper .dataItem {

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.profileEdit__recommendation .resultMetode .resultsView__btn {
    background-color: tomato;
}


.dataContainer__field .active {
    background-color: rgb(22, 47, 136);
    color: #ffffff;

    &:hover {
        background-color: rgb(31, 60, 165);
    }
}

textarea {
    resize: none !important;
    background-color: #f5f5f5;
}


.modalBody__smart {
    max-height: 40rem;
    overflow-y: auto;

    .text-n-bobot {
        color: #000000;
        font-weight: 600;
    }
}
