.myProfileWrapper {
  max-width: 1200px;
}
.myProfileWrapper .informationContent__container {
  width: 100%;
}
.myProfileWrapper .informationContent__container .items__profilesSidebar {
  border-radius: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 8em;
  width: 300px;
}
.myProfileWrapper .informationContent__container .items__profilesSidebar .profile__account figure .avatar__profiles {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 130px !important;
  max-height: 120px !important;
  background-repeat: no-repeat;
  border-radius: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
  filter: drop-shadow(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
}
.myProfileWrapper .informationContent__container .items__profilesSidebar .profile__account .profile__sideInfo {
  max-width: 200px;
  min-width: 0;
}
.myProfileWrapper .informationContent__container .items__profilesSidebar .profile__account .profile__sideInfo .profile__sideName h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.myProfileWrapper .information__profileheader {
  background-color: #0c663d;
  color: #fff;
}
.myProfileWrapper .information__profileheader .iconToogle {
  background-color: rgb(29, 9, 102);
  transition: 0.3s ease-in-out;
}
.myProfileWrapper .information__profileheader .iconToogle:hover {
  background-color: rgb(44, 11, 167);
}
.myProfileWrapper .information__profileError {
  background-color: #660c14;
}
.myProfileWrapper .information__profileError .iconToogle {
  background-color: #E4E0DD;
  color: #000000;
}
.myProfileWrapper .information__pictureError {
  background-color: #660c14;
}
.myProfileWrapper .information__pictureError .iconToogle {
  background-color: #E4E0DD;
  color: #000000;
}
.myProfileWrapper .deleteContent__info {
  background-color: #162f89;
}
.myProfileWrapper .deleteContent__info:hover {
  background-color: #1c55f2;
}

.myProfileWrapper .active {
  background-color: rgba(127, 140, 159, 0.2);
  color: #000000;
}

.profile__settingContainer .profile__settingWrapper input[type=text] {
  padding-left: 1em;
}
.profile__settingContainer .profile__settingWrapper input[type=file]::file-selector-button {
  background-color: #162f89;
  transition: 0.3s ease-in-out;
}
.profile__settingContainer .profile__settingWrapper input[type=file]::file-selector-button:hover {
  background-color: #1c55f2;
}
.profile__settingContainer .profile__settingWrapper input[type=number] {
  padding-left: 3.4em;
  overflow: hidden;
}
.profile__settingContainer .profile__settingWrapper input[type=number]:focus {
  outline: none;
  overflow: hidden;
}
.profile__settingContainer .profile__settingWrapper input[type=password] {
  padding-left: 1em;
}
.profile__settingContainer .profile__settingWrapper input::-webkit-outer-spin-button,
.profile__settingContainer .profile__settingWrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.profile__settingContainer .profile__settingWrapper .profile__saveButton .profile__saveCall {
  background-color: #162f89;
  transition: 0.3s ease-in-out;
}
.profile__settingContainer .profile__settingWrapper .profile__saveButton .profile__saveCall:hover {
  background-color: #1c55f2;
}
.profile__settingContainer .error__notificationValue {
  color: #992F1E;
  font-weight: 400;
}

.dataWrapper .dataItem input::-webkit-outer-spin-button,
.dataWrapper .dataItem input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profileEdit__recommendation .resultMetode .resultsView__btn {
  background-color: tomato;
}

.dataContainer__field .active {
  background-color: rgb(22, 47, 136);
  color: #ffffff;
}
.dataContainer__field .active:hover {
  background-color: rgb(31, 60, 165);
}

textarea {
  resize: none !important;
  background-color: #f5f5f5;
}

.modalBody__smart {
  max-height: 40rem;
  overflow-y: auto;
}
.modalBody__smart .text-n-bobot {
  color: #000000;
  font-weight: 600;
}/*# sourceMappingURL=myProfiles.css.map */