:root {
    --loginHeaderBackground: #8E9DBA;
    --loginHeaderBackgroundRight: #ffffff;
    --loginInputFormText: #6B6B6B;
    --loginGradientSideCenterUp: #101359;
    --loginSetPrimary: #e5e5f7;
    --loginErrorNotification: #C70815;
    --loginAvailabelNotification: #849815;
}

.login__header {
    background-color: var(--loginSetPrimary);
    opacity: 0.8;
    background-color: var(--loginHeaderBackground);
    opacity: 1;
    background-image: radial-gradient(var(--loginGradientSideCenterUp) 0.9500000000000001px, var(--loginHeaderBackground) 0.9500000000000001px);
    background-size: 19px 19px;
    background-size: 19px 19px;
    height: 100vh;
    display: flex;
    position: relative;
    font-family: 'Quicksand', sans-serif;

    .login__wrapper {
        overflow: hidden;
        position: relative;
        flex: 1 1 0;
        display: block;
        width: 100%;
        flex-direction: row;
        display: inline-flex;

        .login__banner {
            position: relative;
            // height: 100%;
            flex: 1 1 100%;

            .login__intro__title {
                font-size: 1.875em;
                font-weight: 700;
                font-family: 'Satoshi', sans-serif;
                max-width: 600px;
                margin: auto;
            }

            img {
                bottom: 0;
                width: 100%;
                height: 706px !important;
                object-fit: contain !important;
                position: absolute;
                background: no-repeat center;
            }
        }

        .login__set-up {
            background-color: var(--loginHeaderBackgroundRight);
            width: 100%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        .login__item__sec__right {
            max-width: 500px;
            margin: auto;
            top: 50%;
            // transform: translateY(50%);
            height: 50%;

            .login__master__head {
                .login__title {
                    font-size: 2.188em;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 600;
                }
            }

            .cta__login {
                color: white;
            }
        }
    }
}

.cta__to__google {
    color: #ffffff;
}

input {
    background-color: #EFEFEF;
    color: var(--loginInputFormText);
    font-family: 'Quicksand', sans-serif;
}

.error__notification__text {
    color: var(--loginErrorNotification);
}

.availabel__notification {
    color: var(--loginAvailabelNotification);
}

.login__set-up>svg {
    background-color: white;
    position: absolute;
    z-index: 2;
}

@media screen and (min-width: 1201px) {
    .login__set-up {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .login__header .login__wrapper .login__item__sec__right {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 1200px) {

    .login__header .login__wrapper .login__item__sec__right {
        transform: translateY(45%);
    }
}
