:root {
    --modalBackgroundColor: rgba(0, 0, 0, 0.411);
    --modalTextColor: #ffffff;
    --modalHoverButtonBackground: #333333;
    --wisataDescriptionText: #1d1d1d;
    --rateNumberBackground: #0f032e;
    --rateSideBackground: #3237d2;
    --primaryTextColor: #ffffff;
    --secondaryTextColor: #666666;
    --modalPrimaryBooking: #111827;
    --modalPrimaryBookingHover: #2c3345;
    --swiper-navigation-size: 2px;
    --swiper-navigation-size-arr: 20px
}

.view__component__header {
    font-family: 'Quicksand', sans-serif;
    max-width: 1350px;
    padding: 0 2rem;

    .breadcrumb {
        font-size: 0.813em;
    }

    .view__content {
        // height: 30.625em !important;
        overflow: hidden;

        .view__item {
            position: relative;

            .view__gallery__banner {
                max-height: 900px;

                img {
                    object-fit: cover;
                    height: 500px;
                    width: 850px;
                    background: no-repeat;
                }
            }
        }
    }

    .modal__gallery__item {
        background-color: var(--modalBackgroundColor);
        color: var(--modalTextColor);
    }

    .modal__btn__close {

        &:hover {
            color: var(--modalTextColor);
            background-color: var(--modalHoverButtonBackground);
        }
    }

    .modal__banner {
        color: #ffffff;

        .view__modal__gallery__banner {
            // max-width: 854px;

            img {
                background-repeat: no-repeat;
                height: 650px;
                // max-width: 800px;
                object-fit: cover;
            }
        }
    }


    .view__side__gallery {
        position: relative;
        height: 30.625em !important;
        overflow: hidden;

        .side__gallery__stag {
            img {
                object-fit: cover;
                height: 20.056em;
                width: 850px;
                background: no-repeat center;
            }
        }
    }
}


.wisata__information {
    .wisata__title {
        h1 {
            font-size: 2em;
            font-weight: 700;
        }
    }

    .description {
        h1 {
            font-weight: 600;
        }

        .description__wisata {
            line-height: 1.8em;
            font-family: 'Golos-Text', sans-serif;
            font-size: 1em;
            font-weight: 400;
            color: var(--wisataDescriptionText);
            text-align: justify;
        }
    }

    .wisata__information {
        h1 {
            font-weight: 600;
        }
    }
}

@media only screen and (min-width:1201px) {
    .view__component__header>.view__content {
        height: 30.625em !important;
    }
}


// Swiper Slide

.swiper {
    width: 100%;
    height: 100%;
    // transform: translateY(10%);
    max-width: 1300px;
    position: relative;
    overflow-x: hidden;

    .swiper-pagination-fraction {
        position: fixed;
    }

    .swiper-slide {
        text-align: center;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        overflow: hidden;
        margin: auto;
        display: block;
        object-fit: contain;
        max-height: 600px;
        border-radius: 10px;
        border: solid 10px white;
        // width: 900px;
    }

    .swiper-button-prev {
        color: white;
    }

    .swiper-button-next {
        color: white;
    }

}




// Review Components Style
.review__container {
    .rate__number {
        font-weight: 700;
        font-size: 1.063em;
        background-color: var(--rateNumberBackground);
        color: var(--primaryTextColor);
        padding: 1rem 22px;
        border-radius: 50px;

        .rate__information__numb {
            .rating__rate {
                font-weight: 700;
                font-size: 0.938em;
            }
        }
    }

    .review__component__comments {
        .review__header {
            .date__review {
                font-size: 0.813em;
            }
        }

        .review__comments__items {
            .rate {
                max-width: 87px;
                text-align: center;
                padding: 8px;
                background-color: var(--rateSideBackground);
                color: var(--primaryTextColor);
                font-weight: 600;
                border-radius: 6px;
            }

            .review__text {
                font-size: 0.875em;
                line-height: 1.5rem;
                font-family: 'Golos-Text', sans-serif;
                font-weight: 500;
                color: var(--secondaryTextColor);
            }


        }
    }


    textarea {
        resize: none;
    }

    /* Ratings widget */
    .rate {
        display: inline-block;
        border: 0;
        color: #011a57;
    }

    /* Hide radio */
    .rate>input {
        display: none;
    }

    /* Order correctly by floating highest to the right */
    .rate>label {
        float: right;
    }

    /* The star of the show */
    .rate>label:before {
        display: inline-block;
        font-size: 1.5rem;
        padding: .3rem .2rem;
        margin: 0;
        cursor: pointer;
        font-family: FontAwesome;
        content: "\f005";
        // color: tomato;
        /* full star */
    }

    /* Half star trick */
    .rate .half:before {
        content: "\f089 ";
        /* half star no outline */
        position: absolute;
        z-index: 2;
        padding-right: 0;
    }

    /* Click + hover color */
    input:checked~label,
    /* color current and previous stars on checked */
    label:hover,
    label:hover~label {
        color: #e95237;
    }

    /* color previous stars on hover */

    /* Hover highlights */
    input:checked+label:hover,
    input:checked~label:hover,
    /* highlight current and previous stars */
    input:checked~label:hover~label,
    /* highlight previous selected stars for new rating */
    label:hover~input:checked~label

    /* highlight previous selected stars */
        {
        color: #b32810;
    }
}

// End Review Components Style

// Modal CTA Booking
.wisata__information {
    .wisata__header__inf {
        .btn__cta__booking {
            background-color: var(--modalPrimaryBooking);

            &:hover {
                background-color: var(--modalPrimaryBookingHover);
            }
        }
    }
}


.booking__infoWrapper {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;

    .booking__contentItem {
        margin: 26px 0;
        padding: 2em;

        .booking__priceWisata {
            font-size: 1.5em;
            font-weight: 500;
        }

        .booking__heading {

            h1 {
                font-size: 1.1em;
                font-weight: 600;
            }
        }

        .infoTiket__wisata {
            h1 {
                font-weight: 500;
            }

            .informasiTiket__wrapper {
                padding: 1.2em;

                .informasi__pembelianTiket {
                    list-style-type: decimal;
                }
            }

            .moreInfo {
                p {
                    font-size: 0.889em;
                    color: #a3a3a3;
                }
            }
        }

        .booking__ctaWrapper {
            .booking__content {


                margin-top: 60px;

                .booking__cta {


                    input {
                        background-color: rgb(212, 212, 212);
                        color: #000000;
                        max-width: 250px;
                        padding: 18px;
                        border-radius: 6px;
                        font-weight: 500;

                    }

                    input:focus {
                        outline: none;
                    }

                    .sectionSelects__peopleBooking {
                        position: relative;
                        white-space: nowrap;

                        .peopleBooking {
                            position: relative;
                            align-items: center;


                            button {
                                position: relative;
                                top: -2px;
                                background-color: #e6e6e6;
                                padding: 18px 20px;
                                color: #0f032e;
                                border-radius: 6px;
                                font-weight: 600;

                                &:hover {
                                    background-color: #ebebeb;
                                }
                            }

                            .dataInput__people {
                                max-width: 90px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .booking__button {
                background-color: #0f032e;
                padding: 18px 60px;
                color: #ffffff;
                border-radius: 6px;
                font-weight: 500;
                white-space: nowrap;

                &:hover {
                    background-color: rgb(31, 7, 92);
                }
            }
        }
    }
}
