:root {
  --modalBackgroundColor: rgba(0, 0, 0, 0.411);
  --modalTextColor: #ffffff;
  --modalHoverButtonBackground: #333333;
  --wisataDescriptionText: #5b5a5a;
  --rateNumberBackground: #0f032e;
  --rateSideBackground: #3237d2;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #666666;
  --modalPrimaryBooking: #111827;
  --modalPrimaryBookingHover: #2c3345;
  --swiper-navigation-size: 2px;
  --swiper-navigation-size-arr: 20px ;
}

.view__component__header {
  font-family: "Quicksand", sans-serif;
  max-width: 1350px;
  padding: 0 2rem;
}
.view__component__header .breadcrumb {
  font-size: 0.813em;
}
.view__component__header .view__content {
  overflow: hidden;
}
.view__component__header .view__content .view__item {
  position: relative;
}
.view__component__header .view__content .view__item .view__gallery__banner {
  max-height: 900px;
}
.view__component__header .view__content .view__item .view__gallery__banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 850px;
  background: no-repeat;
}
.view__component__header .modal__gallery__item {
  background-color: var(--modalBackgroundColor);
  color: var(--modalTextColor);
}
.view__component__header .modal__btn__close:hover {
  color: var(--modalTextColor);
  background-color: var(--modalHoverButtonBackground);
}
.view__component__header .modal__banner {
  color: #ffffff;
}
.view__component__header .modal__banner .view__modal__gallery__banner img {
  background-repeat: no-repeat;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
.view__component__header .view__side__gallery {
  position: relative;
  height: 30.625em !important;
  overflow: hidden;
}
.view__component__header .view__side__gallery .side__gallery__stag img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20.056em;
  width: 850px;
  background: no-repeat center;
}

.wisata__information .wisata__title h1 {
  font-size: 2em;
  font-weight: 700;
}
.wisata__information .description h1 {
  font-weight: 600;
}
.wisata__information .description .description__wisata {
  line-height: 2em;
  font-family: "Golos-Text", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: var(--wisataDescriptionText);
}
.wisata__information .wisata__information h1 {
  font-weight: 600;
}

@media only screen and (min-width: 1201px) {
  .view__component__header > .view__content {
    height: 30.625em !important;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  position: relative;
  overflow-x: hidden;
}
.swiper .swiper-pagination-fraction {
  position: fixed;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  overflow: hidden;
  margin: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 600px;
  border-radius: 10px;
  border: solid 10px white;
}
.swiper .swiper-button-prev {
  color: white;
}
.swiper .swiper-button-next {
  color: white;
}

.review__container .rate__number {
  font-weight: 700;
  font-size: 1.063em;
  background-color: var(--rateNumberBackground);
  color: var(--primaryTextColor);
  padding: 1rem 22px;
  border-radius: 50px;
}
.review__container .rate__number .rate__information__numb .rating__rate {
  font-weight: 700;
  font-size: 0.938em;
}
.review__container .review__component__comments .review__header .date__review {
  font-size: 0.813em;
}
.review__container .review__component__comments .review__comments__items .rate {
  max-width: 87px;
  text-align: center;
  padding: 8px;
  background-color: var(--rateSideBackground);
  color: var(--primaryTextColor);
  font-weight: 600;
  border-radius: 6px;
}
.review__container .review__component__comments .review__comments__items .review__text {
  font-size: 0.875em;
  line-height: 1.5rem;
  font-family: "Golos-Text", sans-serif;
  font-weight: 500;
  color: var(--secondaryTextColor);
}

.wisata__information .wisata__header__inf .btn__cta__booking {
  background-color: var(--modalPrimaryBooking);
}
.wisata__information .wisata__header__inf .btn__cta__booking:hover {
  background-color: var(--modalPrimaryBookingHover);
}

.booking__infoWrapper {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
.booking__infoWrapper .booking__contentItem {
  margin: 26px 0;
  padding: 2em;
}
.booking__infoWrapper .booking__contentItem .booking__priceWisata {
  font-size: 1.5em;
  font-weight: 500;
}
.booking__infoWrapper .booking__contentItem .booking__heading h1 {
  font-size: 1.1em;
  font-weight: 600;
}
.booking__infoWrapper .booking__contentItem .infoTiket__wisata h1 {
  font-weight: 500;
}
.booking__infoWrapper .booking__contentItem .infoTiket__wisata .informasiTiket__wrapper {
  padding: 1em;
}
.booking__infoWrapper .booking__contentItem .infoTiket__wisata .informasiTiket__wrapper .informasi__pembelianTiket {
  list-style-type: disc;
}
.booking__infoWrapper .booking__contentItem .infoTiket__wisata .moreInfo p {
  font-size: 0.889em;
  color: #a3a3a3;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content {
  margin-top: 60px;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta input {
  background-color: rgb(212, 212, 212);
  color: #000000;
  max-width: 250px;
  padding: 18px;
  border-radius: 6px;
  font-weight: 500;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta input:focus {
  outline: none;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta .sectionSelects__peopleBooking {
  position: relative;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta .sectionSelects__peopleBooking .peopleBooking {
  position: relative;
  align-items: center;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta .sectionSelects__peopleBooking .peopleBooking button {
  position: relative;
  top: -2px;
  background-color: #e6e6e6;
  padding: 18px 20px;
  color: #0f032e;
  border-radius: 6px;
  font-weight: 600;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta .sectionSelects__peopleBooking .peopleBooking button:hover {
  background-color: #ebebeb;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__content .booking__cta .sectionSelects__peopleBooking .peopleBooking .dataInput__people {
  max-width: 90px;
  text-align: center;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__button {
  background-color: #0f032e;
  padding: 18px 60px;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 500;
}
.booking__infoWrapper .booking__contentItem .booking__ctaWrapper .booking__button:hover {
  background-color: rgb(31, 7, 92);
}/*# sourceMappingURL=viewpages-styles.css.map */