.informationWrapper {
    max-width: 986px;

    .informationContent__container {
        .items__infoSidebar {
            border-radius: 10px;
            position: sticky;
            position: -webkit-sticky;
            top: 8em;

            .profile__account {
                figure {
                    .avatar__profiles {
                        object-fit: cover;
                        width: 200px !important;
                        height: 110px;
                        background-repeat: no-repeat;
                    }
                }

                .profile__sideInfo {
                    width: 200px;
                    min-width: 0;

                    .profile__sideName {
                        h2 {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                        }
                    }
                }
            }
        }

        .information__itemsBooking {
            .information__contentBooking {
                .ticket__information {
                    .title__objectWisata {
                        .objectwisata__itemsInfo {
                            .info__span {
                                width: 330px;

                                h2 {
                                    white-space: wrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .paymet__notSuccess {
        background-color: rgb(231, 13, 13);
    }

    .paymet__Success {
        background-color: rgb(8, 161, 54);
    }

    .deleteContent__info {
        background-color: #162f89;

        &:hover {
            background-color: #1c55f2;
        }
    }
}

.booking__infoWrapper>.hide {
    display: none;
}
