.dashboardContainer__inner .navbarSide__container {
  background-color: #f4f5fb;
  height: 100vh;
  z-index: 9999;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo {
  text-align: center;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #082068;
  font-family: "Poppins", sans-serif;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo span {
  color: #898697;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.dashboardContainer__inner .sideNavbar__items {
  font-family: "Nunito", sans-serif;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db {
  padding: 8px 0;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks.active {
  color: #ffffff;
  border-radius: 20px;
  align-items: center;
  padding: 14px 1em;
  text-align: start;
  font-weight: 400;
  background-color: #1543ec;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks.active:hover {
  background-color: #0d35c5;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks {
  padding: 14px 1em;
  align-items: center;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks:hover {
  background-color: #e8edff;
  border-radius: 20px;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks .iconsDB {
  padding-right: 1em;
  font-size: 1.2em;
}
.dashboardContainer__inner .sideDB__content {
  height: 100%;
  margin-left: 310px;
  align-items: center;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer {
  width: 50rem;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .navTop__fixed {
  background-color: #f4f5fb;
  top: 0;
  align-items: center;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav {
  max-width: 600px;
  overflow: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav .searchBar__input {
  border: 1.2px solid #003dff;
  border-left: none;
  padding: 20px;
  height: 20px;
  width: 500px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #0055ff;
  background-color: transparent;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav .searchButton {
  cursor: pointer;
  width: 45px;
  height: 42.4px;
  border: 1px solid #003dff;
  background: #003dff;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .topNav__items .profilesDB .topNav__linkspicture .profilePictures__DB h2 {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboardContainer__inner .sideDB__content .contentContainer {
  padding: 20px 3em;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .informationContent__items {
  border-radius: 10px;
  width: 23rem;
  background-color: #f1f1f1;
  padding: 2em;
  margin: 1em 0;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata {
  background-color: #0035b0;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #2063ff;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata .headingInformation h2 {
  font-weight: 300;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata .wisataNumber__count .count__wisataItems .numberOf__wisata {
  position: relative;
  z-index: 6;
  font-size: 2.5em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata .wisataNumber__count .count__wisataItems .smallInfo {
  font-size: 0.888em;
  position: relative;
  z-index: 8;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata {
  background-color: #234f81;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #467ab9;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata .count__kotaItems .numberOf__kota {
  position: relative;
  z-index: 6;
  font-size: 2.5em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata .count__kotaItems .smallInfo {
  font-size: 0.888em;
  position: relative;
  z-index: 8;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata {
  background-color: #2c6378;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #3d86a5;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata .count__kecamatansItems .numberOf__kecamatans {
  position: relative;
  z-index: 6;
  font-size: 2.5em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata .count__kecamatansItems .smallInfo {
  font-size: 0.888em;
  position: relative;
  z-index: 8;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__items .dbData__list {
  border-radius: 10px;
  color: #ffffff;
  padding: 2em;
  background-color: #134131;
}/*# sourceMappingURL=dashboardStyles.css.map */