$dashboardBG : #f4f5fb;
$navLinkstext : #ffffff;
$sideNav-hover: rgb(224, 232, 255);

.dashboardContainer__inner {
    .navbarSide__container {
        background-color: $dashboardBG;
        background-image: radial-gradient(#080d4c11 0.75px, transparent 0.75px), radial-gradient(#080d4c09 0.75px, #f4f5fb 0.75px);
        background-size: 30px 30px;
        background-position: 0 0, 15px 15px;
        height: 100vh;
        z-index: 12;

        &::before {
            background: rgb(2, 21, 70);
            background: -moz-linear-gradient(270deg, rgba(2, 21, 70, 0.17550770308123254) 43%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-linear-gradient(270deg, rgba(2, 21, 70, 0.17550770308123254) 43%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(270deg, rgba(2, 21, 70, 0.17550770308123254) 43%, rgba(255, 255, 255, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021546", endColorstr="#ffffff", GradientType=1);
            height: 100vh;
            width: 50%;
            opacity: 30%;
            content: '';
            position: absolute;
            right: 0;
            z-index: -3;
        }

        .sideNavbar__navbar {
            .sideNav__sidelogo {
                text-align: center;

                h1 {
                    font-size: 2.5em;
                    font-weight: 600;
                    color: #082068;
                    font-family: 'Poppins', sans-serif;
                }

                span {
                    color: #898697;
                    font-weight: 200;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }

    }

    .sideNavbar__items {
        font-family: 'Nunito', sans-serif;
        position: relative;

        &::before {
            overflow: hidden;
            content: "\b";
            width: 326px;
            height: 1px;
            background-color: rgb(228, 228, 228);
            position: absolute;
            z-index: 5;
            left: -15%;
            top: -10%;
        }

        .navItems__db {
            padding: 8px 0;

            .navLinks.active {
                color: $navLinkstext;
                border-radius: 20px;
                align-items: center;
                padding: 14px 1em;
                text-align: start;
                font-weight: 400;
                background-color: #1543ec;

                &:hover {
                    background-color: #0d35c5;

                }
            }

            .navLinks {
                padding: 14px 1em;
                align-items: center;

                &:hover {
                    background-color: $sideNav-hover;
                    border-radius: 20px;
                }

                .iconsDB {
                    padding-right: 1em;
                    font-size: 1.2em;
                }
            }
        }
    }

    .sideDB__content {
        height: 100vh;
        margin-left: 310px;
        align-items: center;

        .sideDB__navtopContainer {
            width: 100%;

            .navTop__fixed {
                background-color: $dashboardBG;
                top: 0;
                align-items: center;
                width: 100%;

                // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                .fixedNav__items {
                    position: relative;
                    width: 80%;
                }
            }

            .searchTop__nav {
                max-width: 600px;
                overflow: hidden;
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

                // &:hover {
                //     transition: 1.5s ease-in-out;
                //     outline: 1px solid #003dff;
                //     border-radius: 5px;
                // }
                .searchBar__input {
                    border: 1.2px solid #003dff;
                    border-left: none;
                    padding: 20px;
                    height: 20px;
                    width: 500px;
                    border-radius: 0 5px 5px 0;
                    outline: none;
                    color: #0055ff;
                    background-color: transparent;
                }

                .searchButton {
                    cursor: pointer;
                    width: 45px;
                    height: 42.4px;
                    border: 1px solid #003dff;
                    background: #003dff;
                    text-align: center;
                    color: #fff;
                    border-radius: 5px 0 0 5px;
                    font-size: 20px;
                }
            }

            .topNav__items {
                .profilesDB {
                    .topNav__linkspicture {
                        .profilePictures__DB {
                            h2 {
                                width: 195px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }

        .contentContainer {
            padding: 20px 3em;

            .contentWrapper__dashboard {
                .headerDB__items {
                    .headerTitle {
                        h1 {
                            font-size: 2em;
                            font-family: 'Poppins', sans-serif;
                            color: #082068;
                        }
                    }
                }

                .topDB__information {
                    .informationContent__items {
                        border-radius: 10px;
                        width: 19em;
                        background-color: #f1f1f1;
                        padding: 1.5em;
                        margin: 1em 0;
                    }

                    .smallInfo {
                        font-size: 0.888em;
                        position: relative;
                        z-index: 8;
                        color: #d3d3d3;
                        text-transform: lowercase;
                        font-size: 0.7em;
                    }

                    .infoDB__icons {
                        padding: 5px 10px;
                        border-radius: 100%;
                    }

                    .iconsTour__title {
                        background-color: #011a57;
                    }

                    .iconsCity__title {
                        background-color: #163558;
                    }

                    .iconsSubdistrict__title {
                        background-color: #193844;
                    }

                    .jumlahWisata {
                        background-color: #0035b0;
                        color: #fff;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            z-index: 4;
                            position: absolute;
                            content: '';
                            background-color: #2063ff;
                            clip-path: fill-box;
                            height: 10em;
                            width: 10em;
                            right: -10%;
                            bottom: -30%;
                            border-radius: 100%;
                            filter: blur(30px);
                        }

                        .wisataNumber__count {
                            .count__wisataItems {
                                .numberOf__wisata {
                                    position: relative;
                                    z-index: 6;
                                    font-size: 1.8em;
                                    font-family: 'Archivo', sans-serif;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .jumlahKota__wisata {
                        background-color: #234f81;
                        color: #ffffff;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            z-index: 4;
                            position: absolute;
                            content: '';
                            background-color: #467ab9;
                            clip-path: fill-box;
                            height: 10em;
                            width: 10em;
                            right: -10%;
                            bottom: -30%;
                            border-radius: 100%;
                            filter: blur(30px);
                        }

                        .count__kotaItems {
                            .numberOf__kota {
                                position: relative;
                                z-index: 6;
                                font-size: 1.8em;
                                font-family: 'Archivo', sans-serif;
                                font-weight: 600;
                            }
                        }
                    }

                    .kecamatansWisata {
                        background-color: #2c6378;
                        color: #ffffff;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            z-index: 4;
                            position: absolute;
                            content: '';
                            background-color: #3d86a5;
                            clip-path: fill-box;
                            height: 10em;
                            width: 10em;
                            right: -10%;
                            bottom: -30%;
                            border-radius: 100%;
                            filter: blur(30px);
                        }

                        .count__kecamatansItems {

                            .numberOf__kecamatans {
                                position: relative;
                                z-index: 6;
                                font-size: 1.8em;
                                font-family: 'Archivo', sans-serif;
                                font-weight: 600;
                                width: 290px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                            }
                        }
                    }
                }
            }

            .headingInformation {
                h2 {
                    font-weight: 300;
                    font-size: 0.8em;
                }
            }

            .itemsDB__dataWisatawrapper {
                .dbText__header {
                    h1 {
                        font-size: 1.2em;
                        color: #082068;
                        font-weight: 500;
                    }
                }
            }

            .dbData__Wisataitems {
                position: relative;

                width: 1201px;
                max-width: 1201px;

                .dbData__listWisata {
                    border-radius: 10px;
                    font-weight: 500;
                    color: #1f1e1e;
                    padding: 2em;
                    background-color: #ced0d4;

                    .labelRequire__infowisata {
                        color: #b5001b;
                    }

                    .add__Customdb--cta {
                        .add__Customebtn--cta {
                            background-color: #1543ec;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            color: #fff;
                            font-weight: 400;

                            &:hover {
                                background-color: #1136bb;
                            }
                        }
                    }

                    .inputSelection {
                        outline: none;
                    }

                    input[type=text] {
                        color: #131313;
                        font-weight: 300;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        padding-left: 20px;
                        border: none;

                        &:focus {
                            outline: none;
                            background-color: none;
                            border: none;
                        }

                    }

                    textarea:focus {
                        outline: none;
                    }

                }

            }

            .buttonCta__container {
                .button__Additems {
                    .addSection__cta {
                        background-color: #1543ec;
                        color: #fff;
                        padding-left: 30px;
                        padding-right: 30px;

                        &:hover {
                            background-color: #1136bb;
                        }
                    }
                }
            }

        }

        .notificationRing__icons {
            align-items: center;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 100px;
            width: 15px;
            height: 15px;
            text-align: center;
            justify-content: center;
        }

        .notificationDelete__cta {
            .clearNotification__information {
                .clearNotification__icons {
                    color: #d2d3d6;

                    &:hover {
                        color: #011a57;
                    }
                }
            }
        }

        .footerContainer {
            background-color: rgb(255, 255, 255);
            width: 100%;
            padding: 1em 20px;
            // z-index: 10;

            .footerContent {
                padding: 0 1.8em;
                font-family: 'Archivo', sans-serif;
            }
        }
    }

    .thumbnailContainer {
        .thumbnail__wrapperContent {
            .inputSection__thumbnail {
                position: relative;

                input[type=file]::file-selector-button {
                    background-color: #0035b0;
                    padding-left: 50px;
                    padding-right: 50px;
                    position: relative;
                    display: inline-block;

                    &:hover {

                        background-color: #023dc9;
                    }
                }


                .add__Thumbnail--cta {
                    background-color: #0035b0;
                    color: #fff;

                    &:hover {
                        background-color: #023dc9;

                    }
                }
            }

            .bannerContent__thumbnail {
                .tumbnail__content {
                    border-radius: 10px;

                    .thumbnail__items {
                        .thumbnailView__img {
                            .figureInner {

                                &::after {
                                    content: "";
                                    background: rgb(2, 21, 70);
                                    background: -moz-linear-gradient(0deg, rgba(2, 21, 70, 0.7567401960784313) 0%, rgba(255, 255, 255, 0) 100%);
                                    background: -webkit-linear-gradient(0deg, rgba(2, 21, 70, 0.7567401960784313) 0%, rgba(255, 255, 255, 0) 100%);
                                    background: linear-gradient(0deg, rgba(2, 21, 70, 0.7567401960784313) 0%, rgba(255, 255, 255, 0) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021546", endColorstr="#ffffff", GradientType=1);
                                    position: absolute;
                                    z-index: 1;
                                    width: 100%;
                                    height: 190px;
                                    bottom: 0;
                                    border-bottom-left-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                }

                                .imgThumb {
                                    width: 250px;
                                    height: 350px;
                                    object-fit: cover;

                                }

                                .thumbnailSettings {
                                    .thumbnailNumber {
                                        position: absolute;
                                        z-index: 3;
                                        top: 0;
                                        right: 2px;
                                        padding: 20px;
                                        border-radius: 50px;

                                        h2 {
                                            text-align: center;
                                            font-weight: 500;
                                            padding: 6px 11px 6px 11px;
                                            background-color: #003dff;
                                            color: #fff;
                                        }
                                    }

                                    .thumbnailDelete {
                                        position: absolute;
                                        z-index: 3;
                                        top: 50px;
                                        right: 2px;
                                        padding: 20px;

                                        .btnThumb__delete {
                                            background-color: #003dff;
                                            color: #fff;
                                            padding: 6px 11px 6px 10px;

                                            &:hover {
                                                background-color: #0636d1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .listHistory__container {
        .listHistory {
            .listHistory__cta {
                background-color: #011a57;
                color: #fff;
                font-size: 0.8em;

                &:hover {
                    background-color: #03257a;
                }
            }
        }
    }

    .listCheck__facilityContainer {
        .facilityList__content {
            .textFacility {
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
            }
        }
    }

    .listHistoryExt__container {
        .listHistoryExt__content {
            .listHistory__cta {
                background-color: #011a57;
                color: #fff;
                font-size: 0.8em;
            }
        }

    }


}



textarea:focus {
    outline: none;
}


select:not(size) {
    padding-left: 20px;
    border-radius: 10px;
    font-weight: 300;
    border: none;
}


.wisataInput__name {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}

.verificationRules__Container {
    width: 1201px;
    margin: 0 3rem;
    display: block;
    font-family: 'Nunito', sans-serif;
    // height: 100%;

    .verification__Content {
        .verification__Title {
            h1 {
                font-size: 2em;
                font-family: 'Poppins', sans-serif;
            }
        }

        .verification__Items {
            .infoVerif {
                background-color: #0035b0;
                width: 100%;
                color: #ffffff;
                font-weight: 300;

                .ri-information-fill {
                    font-size: 1.6em;
                }
            }
        }

        .verification__Card {
            color: #1d1c1c;

            .useR {
                background-color: rgb(228, 234, 248);
                overflow: hidden;
                position: relative;

                &::before {
                    content: "";
                    background-color: #2600ff;
                    width: 4px;
                    left: 0;
                    top: 0;
                    height: 100%;
                    position: absolute;
                }

                .useR__type {
                    margin: 3em 0;

                    &::before {
                        border-radius: 5px;
                        top: 20px;
                        content: "";
                        background-color: rgb(197, 195, 230);
                        position: absolute;
                        height: 30px;
                        width: 30px;
                        z-index: 5;
                    }

                    &::after {
                        content: "";
                        bottom: -4rem;
                        position: absolute;
                        z-index: 1;
                        width: 360px;
                        height: 260px;
                        background-color: rgb(228, 225, 253);
                        right: -150px;
                        transform: rotate(40deg);
                        border-top-left-radius: 90%;
                        border-bottom-left-radius: 90%;
                        filter: blur(60px);
                    }
                }

                .verification__Btnreq {
                    .req__Cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(67, 32, 192) 0%, rgb(33, 120, 250) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);

                        &:hover {
                            background-image: linear-gradient(135deg, rgb(91, 53, 230) 0%, rgb(74, 147, 255) 100%);
                        }
                    }

                    .pleaseWait__cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(192, 91, 32) 0%, rgb(250, 33, 80) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);
                    }
                }

                .verification__Wait {

                    .pleaseWait__cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(192, 77, 32) 0%, rgb(250, 33, 80) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);
                        text-align: center;
                    }
                }

                .verification__Wait {
                    .sucess__cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(14, 134, 10) 0%, rgb(6, 100, 27) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);
                        text-align: center;
                    }
                }

                .verification__Wait {
                    .denied__cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(134, 39, 10) 0%, rgb(100, 6, 6) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);
                        text-align: center;
                    }
                }

            }

            .informationSolution__wrapper {
                position: relative;

                .information__itemsP {
                    background-color: #353845;
                    padding: 2em;
                    border-radius: 10px;
                    line-height: 1.5em;
                    max-height: 600px;
                    height: 300px;
                    color: #fff;
                }

                .titleInformation__hd {
                    font-weight: 600;
                    font-size: 1.2em;
                }

                .verification__Wait {
                    .reload__cta {
                        color: rgb(236, 236, 236);
                        background-image: linear-gradient(135deg, rgb(10, 84, 134) 0%, rgb(6, 31, 100) 100%);
                        font-weight: 500;
                        transition: 1s cubic-bezier(.32, .86, .82, .4);
                        text-align: center;

                        &:hover {
                            background-image: linear-gradient(135deg, rgb(16, 112, 177) 0%, rgb(9, 43, 138) 100%);
                        }
                    }
                }
            }
        }
    }

    .accordionWrapper {
        .accordionContent {
            .accordionTitle {
                font-family: 'Archivo', sans-serif;
                font-weight: 600;
            }
        }

        .accordion__toggleBtn {
            background-color: #0035b0;
        }

        .active__accordion {
            background-color: #0035b0;
            font-family: 'Nunito', sans-serif;
        }
    }

    .superAdmin__container {
        tr {
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #d1d1d1;
                position: absolute;
            }
        }

        .superAdmin__wrapper {
            .inf {
                background-color: rgb(233, 233, 233);
                padding: 0.37em 10px;
                margin: 20px 0;
                color: rgb(75, 75, 75);
            }

            .numCol {
                .num {
                    background-color: rgb(209, 209, 209);
                    color: #1f1f1f;
                    border-radius: 3px;
                    position: relative;
                    padding: 2px 9px;
                }
            }

            .tableHead {
                background-color: rgb(9, 11, 108);
            }

            .dataTable {
                font-family: 'Nunito', sans-serif;
            }

            .headingText {
                font-size: 2em;
                font-family: 'Nunito', sans-serif;
                color: #082068;
                font-weight: 500;
            }

            .dataTables_wrapper .dataTables_length select {
                width: 86px;
            }

            .dataTables_length {
                margin: 2em 0;
            }

            .dataTables_filter {
                margin: 2em 0;
            }

            .dataTables_info {
                margin: 2em 0;
            }

            .dataTables_paginate {
                margin: 2em 0;
            }

            .actionCta {
                color: #fff;

                .editCta {
                    border-radius: 4px;
                    background-color: rgb(12, 26, 155);
                    padding: 4px 15px;

                    &:hover {
                        background-color: rgb(16, 33, 190);
                    }
                }
            }

            .statusCta {
                background-color: #14531d;
                padding: 0 10px;
                color: #fff;
                border-radius: 3px;
            }

            .statusDenied {
                background-color: #c21e1e;
                padding: 0 10px;
                color: #fff;
                border-radius: 3px;
            }

            .paginate_button.current {
                background-color: rgb(15, 17, 177) !important;
                border: transparent !important;
                color: rgb(255, 255, 255) !important;

                &:hover {
                    background-color: rgb(20, 24, 235) !important;
                    color: rgb(255, 255, 255) !important;
                }
            }

            table.dataTable tbody th,
            table.dataTable tbody td {
                padding: 10px 10px;
            }
        }

        .dataTables_wrapper .dataTables_length select {
            border: none;
            background-color: rgb(9, 11, 108);
            color: #fff;
            padding: 4px 10px;
        }

        .dataTables_wrapper .dataTables_filter input {
            margin-right: 1px;
        }

        .declineTable__container {
            background-color: rgb(9, 11, 108);
            color: #fff;
        }
    }
}


.containerTambah__wisata {
    width: 1201px;
    margin: 0 50px;
    font-family: 'Nunito', sans-serif;
    position: relative;

    .wisata__tableCount {
        width: 100%;
    }

    .titleTable {
        padding: 10px 0;
        position: relative;

        .titleList {
            font-size: 1.9em;
            font-weight: 500;
            color: #082068;
            font-family: 'Poppins', sans-serif;
        }
    }

    .dataTables_wrapper .dataTables_length select {
        width: 80px;
        padding: 4px 10px;
        background-color: rgb(1, 26, 87);
        color: #fff;
        border: none;
    }

    .tableWrapper {
        position: relative;
        // margin-top: 7em;
    }

    .dataTables_wrapper {
        margin: 1.3em 0;
    }

    .dataTables_length {
        padding: 20px 0;
        position: fixed !important;
        // bottom: 650px;
    }

    .dataTables_filter {
        padding: 20px 1px;
        // position: fixed !important;
        // right: 650px;
        // bottom: 650px;
        // max-width: 1201px !important;
        // z-index: 2;
    }

    .dataTable__wrapper {
        background-color: rgb(1, 26, 87);
        color: #fff;
        font-weight: 300;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background-color: rgb(1, 26, 87);
        color: #fff !important;
        margin: 2em 0;
    }

    .dataTables_wrapper .dataTables_info {
        margin: 2em 0;
    }
}

.swal2-container {
    .swal2-actions {
        .swalConfirm__cta {
            background-color: rgb(1, 26, 87);

            &:hover {
                background-color: rgb(13, 15, 160) !important;
            }
        }
    }

    .swal2-confirm {
        background-color: rgb(1, 26, 87) !important;

        &:hover {
            background-color: rgb(13, 15, 160) !important;
        }
    }

    .swal2-title {
        font-size: 1.3em;
        font-weight: 400;
    }
}
