.dashboardContainer__inner .navbarSide__container {
  background-color: #f4f5fb;
  background-image: radial-gradient(rgba(8, 13, 76, 0.0666666667) 0.75px, transparent 0.75px), radial-gradient(rgba(8, 13, 76, 0.0352941176) 0.75px, #f4f5fb 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  height: 100vh;
  z-index: 12;
}
.dashboardContainer__inner .navbarSide__container::before {
  background: rgb(2, 21, 70);
  background: linear-gradient(270deg, rgba(2, 21, 70, 0.1755077031) 43%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021546", endColorstr="#ffffff", GradientType=1);
  height: 100vh;
  width: 50%;
  opacity: 30%;
  content: "";
  position: absolute;
  right: 0;
  z-index: -3;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo {
  text-align: center;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #082068;
  font-family: "Poppins", sans-serif;
}
.dashboardContainer__inner .navbarSide__container .sideNavbar__navbar .sideNav__sidelogo span {
  color: #898697;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.dashboardContainer__inner .sideNavbar__items {
  font-family: "Nunito", sans-serif;
  position: relative;
}
.dashboardContainer__inner .sideNavbar__items::before {
  overflow: hidden;
  content: "\b";
  width: 326px;
  height: 1px;
  background-color: rgb(228, 228, 228);
  position: absolute;
  z-index: 5;
  left: -15%;
  top: -10%;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db {
  padding: 8px 0;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks.active {
  color: #ffffff;
  border-radius: 20px;
  align-items: center;
  padding: 14px 1em;
  text-align: start;
  font-weight: 400;
  background-color: #1543ec;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks.active:hover {
  background-color: #0d35c5;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks {
  padding: 14px 1em;
  align-items: center;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks:hover {
  background-color: rgb(224, 232, 255);
  border-radius: 20px;
}
.dashboardContainer__inner .sideNavbar__items .navItems__db .navLinks .iconsDB {
  padding-right: 1em;
  font-size: 1.2em;
}
.dashboardContainer__inner .sideDB__content {
  height: 100vh;
  margin-left: 310px;
  align-items: center;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer {
  width: 100%;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .navTop__fixed {
  background-color: #f4f5fb;
  top: 0;
  align-items: center;
  width: 100%;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .navTop__fixed .fixedNav__items {
  position: relative;
  width: 80%;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav {
  max-width: 600px;
  overflow: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav .searchBar__input {
  border: 1.2px solid #003dff;
  border-left: none;
  padding: 20px;
  height: 20px;
  width: 500px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #0055ff;
  background-color: transparent;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .searchTop__nav .searchButton {
  cursor: pointer;
  width: 45px;
  height: 42.4px;
  border: 1px solid #003dff;
  background: #003dff;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}
.dashboardContainer__inner .sideDB__content .sideDB__navtopContainer .topNav__items .profilesDB .topNav__linkspicture .profilePictures__DB h2 {
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboardContainer__inner .sideDB__content .contentContainer {
  padding: 20px 3em;
  width: 1201px;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .headerDB__items .headerTitle h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  color: #082068;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .informationContent__items {
  border-radius: 10px;
  width: 19em;
  background-color: #f1f1f1;
  padding: 1.5em;
  margin: 1em 0;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .smallInfo {
  font-size: 0.888em;
  position: relative;
  z-index: 8;
  color: #d3d3d3;
  text-transform: lowercase;
  font-size: 0.7em;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .infoDB__icons {
  padding: 5px 10px;
  border-radius: 100%;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .iconsTour__title {
  background-color: #011a57;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .iconsCity__title {
  background-color: #163558;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .iconsSubdistrict__title {
  background-color: #193844;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .iconsUser__title {
  background-color: #0d3d2b;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata {
  background-color: #0035b0;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #2063ff;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahWisata .wisataNumber__count .count__wisataItems .numberOf__wisata {
  position: relative;
  z-index: 6;
  font-size: 1.8em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata {
  background-color: #234f81;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #467ab9;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .jumlahKota__wisata .count__kotaItems .numberOf__kota {
  position: relative;
  z-index: 6;
  font-size: 1.8em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata {
  background-color: #2c6378;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #3d86a5;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .kecamatansWisata .count__kecamatansItems .numberOf__kecamatans {
  position: relative;
  z-index: 6;
  font-size: 1.8em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .usersCount {
  background-color: #1a5840;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .usersCount::before {
  z-index: 4;
  position: absolute;
  content: "";
  background-color: #217e5a;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  height: 10em;
  width: 10em;
  right: -10%;
  bottom: -30%;
  border-radius: 100%;
  filter: blur(30px);
}
.dashboardContainer__inner .sideDB__content .contentContainer .contentWrapper__dashboard .topDB__information .usersCount .count__usersItems .numberOf__users {
  position: relative;
  z-index: 6;
  font-size: 1.8em;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboardContainer__inner .sideDB__content .contentContainer .headingInformation h2 {
  font-weight: 300;
  font-size: 0.8em;
}
.dashboardContainer__inner .sideDB__content .contentContainer .itemsDB__dataWisatawrapper .dbText__header h1 {
  font-size: 1.2em;
  color: #082068;
  font-weight: 500;
}
.dashboardContainer__inner .sideDB__content .contentContainer .continer__selectionDiv {
  width: 1201px;
}
.dashboardContainer__inner .sideDB__content .contentContainer .continer__selectionDiv .activityWrapper {
  border-radius: 10px;
  font-weight: 500;
  color: #1f1e1e;
  padding: 2em;
  background-color: #ced0d4;
}
.dashboardContainer__inner .sideDB__content .contentContainer .continer__selectionDiv .listInfo__content {
  border-radius: 10px;
  font-weight: 500;
  color: #1f1e1e;
  padding: 2em;
  background-color: #ced0d4;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems {
  position: relative;
  width: 1201px;
  max-width: 1201px;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata {
  border-radius: 10px;
  font-weight: 500;
  color: #1f1e1e;
  padding: 2em;
  background-color: #ced0d4;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata .add__Customdb--cta .add__Customebtn--cta {
  background-color: #1543ec;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  font-weight: 400;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata .add__Customdb--cta .add__Customebtn--cta:hover {
  background-color: #1136bb;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata .inputSelection {
  outline: none;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata input[type=text] {
  color: #131313;
  font-weight: 300;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 20px;
  border: none;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata input[type=text]:focus {
  outline: none;
  background-color: none;
  border: none;
}
.dashboardContainer__inner .sideDB__content .contentContainer .dbData__Wisataitems .dbData__listWisata textarea:focus {
  outline: none;
}
.dashboardContainer__inner .sideDB__content .contentContainer .tagPrice__Container {
  width: 1201px;
}
.dashboardContainer__inner .sideDB__content .contentContainer .tagPrice__Container .priceWrapper .dbData__priceWisata {
  border-radius: 10px;
  font-weight: 500;
  color: #1f1e1e;
  padding: 2em;
  background-color: #ced0d4;
}
.dashboardContainer__inner .sideDB__content .contentContainer .buttonCta__container .button__Additems .addSection__cta {
  background-color: #1543ec;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
.dashboardContainer__inner .sideDB__content .contentContainer .buttonCta__container .button__Additems .addSection__cta:hover {
  background-color: #1136bb;
}
.dashboardContainer__inner .sideDB__content .contentContainer .tinyMce__container .tinyMce__infoheading {
  background-color: #011a57;
}
.dashboardContainer__inner .sideDB__content .notificationRing__icons {
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  width: 15px;
  height: 15px;
  text-align: center;
  justify-content: center;
}
.dashboardContainer__inner .sideDB__content .notificationDelete__cta .clearNotification__information .clearNotification__icons {
  color: #d2d3d6;
}
.dashboardContainer__inner .sideDB__content .notificationDelete__cta .clearNotification__information .clearNotification__icons:hover {
  color: #011a57;
}
.dashboardContainer__inner .sideDB__content .footerContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 1em 20px;
}
.dashboardContainer__inner .sideDB__content .footerContainer .footerContent {
  padding: 0 1.8em;
  font-family: "Archivo", sans-serif;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .inputSection__thumbnail {
  position: relative;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .inputSection__thumbnail input[type=file]::file-selector-button {
  background-color: #0035b0;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  display: inline-block;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .inputSection__thumbnail input[type=file]::file-selector-button:hover {
  background-color: #023dc9;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .inputSection__thumbnail .add__Thumbnail--cta {
  background-color: #0035b0;
  color: #fff;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .inputSection__thumbnail .add__Thumbnail--cta:hover {
  background-color: #023dc9;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail {
  width: 1201px;
  overflow: hidden;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content {
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 20px 0;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content::-webkit-scrollbar {
  height: 10px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(231, 231, 231);
  border-radius: 3px;
  overflow-x: visible;
  width: 3px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content::-webkit-scrollbar-track {
  background: #011a57;
  border-radius: 4px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner {
  width: 230px;
  margin: 20px 0;
  overflow-x: auto;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner::after {
  content: "";
  background: rgb(2, 21, 70);
  background: linear-gradient(0deg, rgba(2, 21, 70, 0.7567401961) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021546", endColorstr="#ffffff", GradientType=1);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 190px;
  bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .imgThumb {
  width: 250px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .thumbnailSettings .thumbnailNumber {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 2px;
  padding: 20px;
  border-radius: 50px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .thumbnailSettings .thumbnailNumber h2 {
  text-align: center;
  font-weight: 500;
  padding: 6px 14px 6px 14px;
  background-color: #003dff;
  color: #fff;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .thumbnailSettings .thumbnailDelete {
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 2px;
  padding: 20px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .thumbnailSettings .thumbnailDelete .btnThumb__delete {
  background-color: rgb(158, 4, 4);
  color: #fff;
  padding: 6px 11px 6px 10px;
}
.dashboardContainer__inner .thumbnailContainer .thumbnail__wrapperContent .bannerContent__thumbnail .tumbnail__content .thumbnail__items .thumbnailView__img .figureInner .thumbnailSettings .thumbnailDelete .btnThumb__delete:hover {
  background-color: rgb(255, 0, 0);
}
.dashboardContainer__inner .listHistory__container .listHistory .listHistory__cta {
  background-color: #011a57;
  color: #fff;
  font-size: 0.8em;
}
.dashboardContainer__inner .listHistory__container .listHistory .listHistory__cta:hover {
  background-color: #03257a;
}
.dashboardContainer__inner .listCheck__facilityContainer .facilityList__content .textFacility {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
.dashboardContainer__inner .listHistoryExt__container .listHistoryExt__content .listHistory__cta {
  background-color: #011a57;
  color: #fff;
  font-size: 0.8em;
}

textarea:focus {
  outline: none;
}

select:not(size) {
  padding-left: 20px;
  border-radius: 10px;
  font-weight: 300;
  border: none;
}

.wisataInput__name {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
}

.verificationRules__Container {
  width: 1201px;
  margin: 0 3rem;
  display: block;
  font-family: "Nunito", sans-serif;
}
.verificationRules__Container .verification__Content .verification__Title h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}
.verificationRules__Container .verification__Content .verification__Items .infoVerif {
  background-color: #0035b0;
  width: 100%;
  color: #ffffff;
  font-weight: 300;
}
.verificationRules__Container .verification__Content .verification__Items .infoVerif .ri-information-fill {
  font-size: 1.6em;
}
.verificationRules__Container .verification__Content .verification__Card {
  color: #1d1c1c;
}
.verificationRules__Container .verification__Content .verification__Card .useR {
  background-color: rgb(228, 234, 248);
  overflow: hidden;
  position: relative;
}
.verificationRules__Container .verification__Content .verification__Card .useR::before {
  content: "";
  background-color: #2600ff;
  width: 4px;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
}
.verificationRules__Container .verification__Content .verification__Card .useR .useR__type {
  margin: 3em 0;
}
.verificationRules__Container .verification__Content .verification__Card .useR .useR__type::before {
  border-radius: 5px;
  top: 20px;
  content: "";
  background-color: rgb(197, 195, 230);
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 5;
}
.verificationRules__Container .verification__Content .verification__Card .useR .useR__type::after {
  content: "";
  bottom: -4rem;
  position: absolute;
  z-index: 1;
  width: 360px;
  height: 260px;
  background-color: rgb(228, 225, 253);
  right: -150px;
  transform: rotate(40deg);
  border-top-left-radius: 90%;
  border-bottom-left-radius: 90%;
  filter: blur(60px);
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Btnreq .req__Cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(67, 32, 192) 0%, rgb(33, 120, 250) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Btnreq .req__Cta:hover {
  background-image: linear-gradient(135deg, rgb(91, 53, 230) 0%, rgb(74, 147, 255) 100%);
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Btnreq .pleaseWait__cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(192, 91, 32) 0%, rgb(250, 33, 80) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Wait .pleaseWait__cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(192, 77, 32) 0%, rgb(250, 33, 80) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
  text-align: center;
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Wait .sucess__cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(14, 134, 10) 0%, rgb(6, 100, 27) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
  text-align: center;
}
.verificationRules__Container .verification__Content .verification__Card .useR .verification__Wait .denied__cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(134, 39, 10) 0%, rgb(100, 6, 6) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
  text-align: center;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper {
  position: relative;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper .information__itemsP {
  background-color: #353845;
  border-radius: 10px;
  line-height: 1.5em;
  max-height: 600px;
  height: 420px;
  color: #fff;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper .titleInformation__hd {
  font-weight: 600;
  font-size: 1.2em;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper .verification__Wait {
  bottom: 50px;
  position: absolute;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper .verification__Wait .reload__cta {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(135deg, rgb(10, 84, 134) 0%, rgb(6, 31, 100) 100%);
  font-weight: 500;
  transition: 1s cubic-bezier(0.32, 0.86, 0.82, 0.4);
  text-align: center;
  padding: 0.75em 140px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  left: 0;
}
.verificationRules__Container .verification__Content .verification__Card .informationSolution__wrapper .verification__Wait .reload__cta:hover {
  background-image: linear-gradient(135deg, rgb(16, 112, 177) 0%, rgb(9, 43, 138) 100%);
}
.verificationRules__Container .superAdmin__container tr::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
  position: absolute;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .inf {
  background-color: rgb(233, 233, 233);
  padding: 0.37em 10px;
  margin: 20px 0;
  color: rgb(75, 75, 75);
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .numCol .num {
  background-color: rgb(209, 209, 209);
  color: #1f1f1f;
  border-radius: 3px;
  position: relative;
  padding: 2px 9px;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .tableHead {
  background-color: rgb(9, 11, 108);
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTable {
  font-family: "Nunito", sans-serif;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .headingText {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  color: #082068;
  font-weight: 500;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTables_wrapper .dataTables_length select {
  width: 86px;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTables_length {
  margin: 2em 0;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTables_filter {
  margin: 2em 0;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTables_info {
  margin: 2em 0;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .dataTables_paginate {
  margin: 2em 0;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .actionCta {
  color: #fff;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .actionCta .editCta {
  border-radius: 4px;
  background-color: rgb(12, 26, 155);
  padding: 4px 15px;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .actionCta .editCta:hover {
  background-color: rgb(16, 33, 190);
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .statusCta {
  background-color: #14531d;
  padding: 0 10px;
  color: #fff;
  border-radius: 3px;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .statusDenied {
  background-color: #c21e1e;
  padding: 0 10px;
  color: #fff;
  border-radius: 3px;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .paginate_button.current {
  background-color: rgb(15, 17, 177) !important;
  border: transparent !important;
  color: rgb(255, 255, 255) !important;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper .paginate_button.current:hover {
  background-color: rgb(20, 24, 235) !important;
  color: rgb(255, 255, 255) !important;
}
.verificationRules__Container .superAdmin__container .superAdmin__wrapper table.dataTable tbody th,
.verificationRules__Container .superAdmin__container .superAdmin__wrapper table.dataTable tbody td {
  padding: 10px 10px;
}
.verificationRules__Container .superAdmin__container .dataTables_wrapper .dataTables_length select {
  border: none;
  background-color: rgb(9, 11, 108);
  color: #fff;
  padding: 4px 10px;
}
.verificationRules__Container .superAdmin__container .dataTables_wrapper .dataTables_filter input {
  margin-right: 1px;
}
.verificationRules__Container .superAdmin__container .declineTable__container {
  background-color: rgb(9, 11, 108);
  color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
  width: 281.23px;
}

.containerTambah__wisata {
  width: 1201px;
  margin: 0 50px;
  font-family: "Nunito", sans-serif;
  position: relative;
}
.containerTambah__wisata .wisata__tableCount {
  width: 100%;
}
.containerTambah__wisata .titleTable {
  padding: 10px 0;
  position: relative;
}
.containerTambah__wisata .titleTable .titleList {
  font-size: 1.9em;
  font-weight: 500;
  color: #082068;
  font-family: "Poppins", sans-serif;
}
.containerTambah__wisata .titleTable .notedSuperAdm {
  background-color: rgb(8, 32, 104);
  position: relative;
  overflow: hidden;
}
.containerTambah__wisata .titleTable .notedSuperAdm::after {
  content: "";
  background-color: rgb(255, 99, 71);
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 100%;
  top: 0;
}
.containerTambah__wisata .createContainer {
  position: relative;
}
.containerTambah__wisata .createContainer .addWisata__supadm .addWisata__cta {
  background-color: rgb(8, 32, 104);
  color: #fff;
  border-radius: 10px;
}
.containerTambah__wisata .createContainer .addWisata__supadm .addWisata__cta:hover {
  background-color: rgb(12, 48, 156);
}
.containerTambah__wisata .dataTables_wrapper .dataTables_length select {
  width: 80px;
  padding: 4px 10px;
  background-color: rgb(1, 26, 87);
  color: #fff;
  border: none;
}
.containerTambah__wisata .tableWrapper {
  position: relative;
}
.containerTambah__wisata .dataTables_wrapper {
  margin: 1.3em 0;
}
.containerTambah__wisata .dataTables_length {
  padding: 20px 0;
  position: fixed !important;
}
.containerTambah__wisata .dataTables_filter {
  padding: 20px 1px;
}
.containerTambah__wisata .dataTable__wrapper {
  background-color: rgb(1, 26, 87);
  color: #fff;
  font-weight: 300;
}
.containerTambah__wisata .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.containerTambah__wisata .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: rgb(1, 26, 87);
  color: #fff !important;
  margin: 2em 0;
}
.containerTambah__wisata .dataTables_wrapper .dataTables_info {
  margin: 2em 0;
}

.swal2-container .swal2-actions .swalConfirm__cta {
  background-color: rgb(1, 26, 87);
}
.swal2-container .swal2-actions .swalConfirm__cta:hover {
  background-color: rgb(13, 15, 160) !important;
}
.swal2-container .swal2-confirm {
  background-color: rgb(1, 26, 87) !important;
}
.swal2-container .swal2-confirm:hover {
  background-color: rgb(13, 15, 160) !important;
}
.swal2-container .swal2-title {
  font-size: 1.3em;
  font-weight: 400;
}

.kategoriContainer {
  top: 3rem;
  position: relative;
  width: 1201px;
  margin: 0 50px;
  font-family: "Nunito", sans-serif;
  position: relative;
}
.kategoriContainer .dataTable__wrapper {
  background-color: rgb(1, 26, 87);
  color: #fff;
  font-weight: 300;
}
.kategoriContainer .headingTitle__kategori {
  font-size: 2em;
  font-weight: 600;
  font-family: "Poppins" sans-serif;
  color: #011a57;
}
.kategoriContainer .modalContainer .modalToogle {
  background-color: rgb(1, 26, 87);
  color: #fff;
  transition: ease-in-out 0.3s;
}
.kategoriContainer .modalContainer .modalToogle:hover {
  background-color: rgb(8, 59, 189);
}
.kategoriContainer .kategoriInput__container .kategoriWrapper .deleteCta__btn {
  background-color: rgb(192, 5, 5);
  color: #fff;
  transition: ease-in-out 0.3s;
}
.kategoriContainer .kategoriInput__container .kategoriWrapper .deleteCta__btn:hover {
  background-color: rgb(134, 2, 2);
}
.kategoriContainer .btnCancel__kategori {
  border: solid 1.4px rgb(129, 3, 3);
  color: rgb(129, 3, 3);
  transition: ease-in-out 0.3s;
}
.kategoriContainer .btnCancel__kategori:hover {
  background-color: rgb(129, 3, 3);
  color: #fff;
}
.kategoriContainer .moreSpace .inputCta__btn {
  background-color: rgb(1, 26, 87);
  font-size: 0.8em;
  color: #fff;
}
.kategoriContainer .moreSpace .inputCta__btn:hover {
  background-color: rgb(8, 59, 189);
}
.kategoriContainer .kategoriWrapper__content .dataTables_wrapper .dataTables_length select {
  width: 80px;
  padding: 4px 10px;
  background-color: rgb(1, 26, 87);
  color: #fff;
  border: none;
}
.kategoriContainer .kategoriWrapper__content .dataTables_filter {
  padding: 20px 1px;
}
.kategoriContainer .kategoriWrapper__content .dataTables_wrapper {
  margin: 1.3em 0;
}
.kategoriContainer .kategoriWrapper__content .dataTables_length {
  padding: 20px 0;
}
.kategoriContainer .kategoriWrapper__content .dataTables_info {
  margin: 2em 0;
}
.kategoriContainer .kategoriWrapper__content .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.kategoriContainer .kategoriWrapper__content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: rgb(1, 26, 87);
  color: #fff !important;
  margin: 2em 0;
}
.kategoriContainer .kategoriWrapper__content .dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 3px 1px;
}
.kategoriContainer .actionTo__action .actionItems .actionEdit__cta {
  background-color: rgb(31, 82, 214);
}
.kategoriContainer .actionTo__action .actionItems .actionEdit__cta:hover {
  background-color: rgb(10, 40, 114);
}
.kategoriContainer .actionTo__action .actionItems .actionDelete__cta {
  background-color: rgb(192, 5, 5);
  color: #fff;
}
.kategoriContainer .actionTo__action .actionItems .actionDelete__cta:hover {
  background-color: rgb(129, 3, 3);
}

.tox-statusbar__branding {
  display: none;
}

.accordionWrapper .accordionContent .accordionTitle {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.accordionWrapper .accordion__toggleBtn {
  background-color: #0035b0;
}
.accordionWrapper .active__accordion {
  background-color: #0035b0;
  font-family: "Nunito", sans-serif;
}

.labelRequire__infowisata {
  color: #b5001b;
}

.listInfo__container .modalToogle {
  background-color: #1543ec;
}
.listInfo__container .btnCancel {
  border: solid 1.4px rgb(129, 3, 3);
  color: rgb(129, 3, 3);
  transition: ease-in-out 0.3s;
}
.listInfo__container .btnCancel:hover {
  background-color: rgb(129, 3, 3);
  color: #fff;
}
.listInfo__container .deleteCta__btn {
  background-color: rgb(192, 5, 5);
  color: #fff;
  transition: ease-in-out 0.3s;
}
.listInfo__container .deleteCta__btn:hover {
  background-color: rgb(134, 2, 2);
}
.listInfo__container .inputCta__btn {
  background-color: rgb(1, 26, 87);
  font-size: 0.8em;
  color: #fff;
}
.listInfo__container .inputCta__btn:hover {
  background-color: rgb(8, 59, 189);
}
.listInfo__container .labelInput {
  color: #8f8f8f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priceTag__item .inputSelection {
  padding-left: 3.5em;
}

.diskonInput__list .inputSelection {
  padding-left: 3.5em;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .slideTable__items img {
  display: block;
  width: 100vw;
  height: 257px;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoNext__wisata {
  font-family: "Poppins", sans-serif;
}
.infoNext__wisata .headingInformasi__list {
  background-color: rgb(1, 26, 87);
  color: rgb(255, 255, 255);
}
.infoNext__wisata .headingInformasi__list .headIcon {
  background-color: #023dc9;
}
.infoNext__wisata .wisata__listWrapper .infoWisata__add::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}
.infoNext__wisata .wisata__listWrapper .infoWisata__add::-webkit-scrollbar-thumb {
  background-color: rgb(231, 231, 231);
  overflow-x: visible;
  width: 2px;
}
.infoNext__wisata .wisata__listWrapper .infoWisata__add::-webkit-scrollbar-track {
  background: rgb(1, 26, 87);
}
.infoNext__wisata .wisata__listWrapper .infoWisata__add .listInfo__item::after {
  content: "";
  background-color: rgb(1, 26, 87);
  height: 6px;
  width: 6px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 6.5px;
  border-radius: 50px;
}
.infoNext__wisata .wisata__listSlider .slideInner__tables .swiper-button-next {
  color: rgb(255, 255, 255);
}
.infoNext__wisata .wisata__listSlider .slideInner__tables .swiper-button-next::after {
  font-size: 20px;
  background-color: rgb(1, 26, 87);
  padding: 10px;
  border-radius: 6px;
}
.infoNext__wisata .wisata__listSlider .slideInner__tables .swiper-button-prev {
  color: rgb(255, 255, 255);
}
.infoNext__wisata .wisata__listSlider .slideInner__tables .swiper-button-prev::after {
  font-size: 20px;
  background-color: rgb(1, 26, 87);
  padding: 10px;
  border-radius: 6px;
}/*# sourceMappingURL=dashboardStyles.css.map */